.news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-bottom: 3rem;
  @include media-md {
    grid-template-columns: 1fr;
  }

  &__card {
    height: 100%;
    position: relative;
    cursor: pointer;
    @include card;
    @include transitionEase(all);
    padding: 2rem 1rem;
    .head {
      @include flex(flex-start, space-between);
      padding-bottom: 1.5rem;
      h2 {
        font-size: 20px;
        letter-spacing: 0.5px;
        margin-right: 10px;
        color: $color-text-white;
      }
      img {
        width: 100px;
      }
    }
    .body {
      font-size: 16.2px;
      line-height: 1.8;
      letter-spacing: 0.5px;
      padding-bottom: 3rem;
      color: $color-text-gray;
    }
    .bottom {
      position: absolute;
      bottom: 1rem;
      left: 0;
      width: 100%;
      padding: 0 1rem;
      @include flex(center, space-between);
      .provider {
        width: 100%;
        display: flex;
        align-items: center;
        img {
          width: 20px;
          margin-right: 5px;
        }
      }
      p {
        font-size: 14px;
        color: gray;
      }
      .time {
        width: 100px;
      }
    }
  }
}
