$color-dark-bg: #18191a;
$color-dark-light: #242526;
$color-text-white: #f5f6f7;
$color-text-gray: #b9b9b9;
$color-blue: #2874f0;
$color-blue-light: #4283ec;
$color-blue-dimmed: #2874f0;
$color-gray: #a3a3a3a8;
$color-border-gray: #a3a3a333;
